---
title: "Welcome to melody.dev!!1!"
layout: default
---

<h1 id="welcome">
  {% include icons/welcome.svg size="42" %}
  Hey hi, I'm <yeet>Melody Starling!</yeet>
</h1>

<p class="lead">
  I'm a sparkly code unicorn who makes art, websites, and tea! <br> Let's build something cool together.
</p>

<p>
  My pronouns are <a class="duo" href="/they">plural they/them</a>. Nice to meet you!
</p>

<p>
  Find me on <a class="uno" href="https://twitter.com/pixelyunicorn" target="_blank"><img src="https://icon.now.sh/twitter/1da1f2" height="12" width="12" /> Twitter</a>, <a class="uno" href="https://github.com/pixelyunicorn" target="_blank"><img src="https://icon.now.sh/github/fff" height="12" width="12" /> GitHub</a>, <a class="uno" href="https://dribbble.com/pixelyunicorn" target="_blank"><img src="https://icon.now.sh/dribbble/ea4c89" height="12" width="12" /> Dribbble</a>, and <a class="uno" href="https://twitch.tv/pixelysquid" target="_blank"><img src="https://icon.now.sh/twitch/b9a3e3" height="12" width="12" /> Twitch</a>.
</p>

<hr>

<h1 id="portfolio">
  {% include icons/purse-fill.svg size="42" %}
  Cool <yeet>thangs</yeet> I worked on!
</h1>

<p>
  Here are some fun and interesting projects I recently worked on! You can also find my full webdev, design, and community portfolio at <a class="tre" href="https://melody.cool" target="_blank">{% include icons/bolt.svg size="22" %} melody.cool</a>:
</p>

<grid column-count="3" phone-column-count="1">
  {% for project in site.data.portfolio %}
    <project>
      {% if project.image %}<p>
        <img src="{{ project.image }}" alt="{{ project.title }} screenshot" {% if project.mask %}style="mask: url({{ project.mask }}) 0 0/100% 100%; -webkit-mask: url({{ project.mask }}) 0 0/100% 100%;" {% endif %}/>
      </p>{% endif %}
      <h2>{{ project.title }}</h2>
      <p>
        {{ project.desc }}
      </p>
      {% if project.link %}
         <a href="{{ project.link }}" class="button uno"  target="_blank">{% include icons/external-fill.svg size="22" %} View Site</a>
      {% endif %}
      {% if project.case %}
         <a href="{{ project.case }}" class="button tre"  target="_blank">{% include icons/purse-fill.svg size="22" %} Case Study</a>
      {% endif %}
    </project>
  {% endfor %}
</grid>

<hr>

<h1 id="talks">
  {% include icons/announcement.svg size="42" %}
  Talks? <yeet>Talks!!</yeet>
</h1>
<p>
  I love to travel new places to share what I learn with y'all! Here are some of my recent talks:
</p>
<grid column-count="2" phone-column-count="1">
  {% for talk in site.data.talks %}
    <talk style="background-image:url({{ talk.image }})">
      <h4>{{ talk.title }}</h4>
      <p>
        @ {{ talk.event }} {{ talk.date }}
      </p>
      {% if talk.link %}
         <a href="{{ talk.link }}" class="button uno" target="_blank">{% include icons/photo-fill.svg size="22" %} View Slides</a>
      {% else %}
         <a href="{{ talk.link }}" class="button disabled uno" target="_blank">{% include icons/photo-fill.svg size="22" %} Slides Soon</a>
      {% endif %}
    </talk>
  {% endfor %}
</grid>

<hr>

<h1 id="about">
  {% include icons/emoji.svg size="42" %}
  Here's a lil' <yeet>about me:</yeet>
</h1>

<p>
  I consider myself to be a jack of all trades, but master of none. My experience consists of a trail mix between:
</p>

<ul>
  <li>Web Development!</li>
  <li>UI/UX Design!</li>
  <li>Community Management!</li>
  <li>Esports!</li>
</ul>

<p>
  My current affiliations are:
</p>

<ul>
  <li><a href="https://srnd.org/" target="_blank" class="uno"><img src="https://2018.melody.cool/media/stickers/codeday.png" alt="CodeDay Philly logo" style="max-height:1em" /> srnd.org</a>, CodeDay Philly organizer</li>
  <li><a href="https://tacojs.github.io" target="_blank" class="uno"><img src="https://2018.melody.cool/media/stickers/tacojs.png" alt="TacoJS logo" style="max-height:1em" /> TacoJS</a>, lead organizer (on hiatus)</li>
  <li><a href="http://septayac.com" target="_blank" class="uno"><img src="https://2018.melody.cool/media/stickers/septa.png" alt="SEPTA logo" style="max-height:.8em;vertical-align:baseline" /> SEPTA Youth Advisory Council</a>, tech and equity advisor</li>
  <li><a href="https://twitter.com/hrgesports" target="_blank" class="uno"><img src="https://2018.melody.cool/media/stickers/hrg.png" alt="HRG logo" style="max-height:1em" /> Hormone Replacement Gaming</a>, pro~fresh~ional <a href="https://twitter.com/pixelysquid" target="_blank" class="uno"><img src="https://2018.melody.cool/media/stickers/squid.png" alt="Splatoon squid" style="max-height:1em; transform:rotate(22deg)" /> Splatoon 2</a> player</li>
</ul>

<p>
  <strong>Let's build something cool together!</strong> The best way to get in touch with me is thru Twitter DMs. You can also send an email to hi at this domain!
</p>